<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hong.dk.bookcollect.mapper.OrderBookMapper">

    <!-- 通用查询映射结果 -->
    <sql id="Base_Column_List">
        order_id,
        book_id,
        create_time,
        update_time,
        version,
        is_delete
    </sql>
    <resultMap id="BaseResultMap" type="com.hong.dk.bookcollect.entity.pojo.OrderBook">
        <id column="order_id" property="orderId" />
        <result column="book_id" property="bookId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="version" property="version" />
        <result column="is_delete" property="isDelete" />
    </resultMap>


</mapper>
